/** background **/

.bg-blue-dark {
    background-color: var(--main-color-blue-dark);
}

.bg-blue-light {
    background-color: var(--main-color-blue-light);
}

.box-shadow {
    box-shadow:  10px 10px 0px var(--main-color-blue-med) ;
}

.border-radius {
    border-radius: 30px;
}