/** background **/

.bg-blue-dark {
    background-color: var(--main-color-blue-dark);
}

.bg-blue-med {
    background-color: var(--main-color-blue-med);
}

.bg-blue-light {
    background-color: var(--main-color-blue-light);
}

.bg-white {
    background-color: var(--main-color-white);
}

.box-shadow {
    box-shadow:  10px 10px 0px var(--main-color-blue-med) ;
}

.border-radius {
    border-radius: 30px;
}

.border-radius-100 {
    border-radius: 100px;
}

.transition {
    transition: all 0.4s ease-in-out;
}