/** Global **/
html {
    font-family: 'Montserrat', sans-serif;

}

/** Typo **/

h1 {
    font-size : 3em;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

h2 {
    font-size : 2.5em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 1em;
    margin-bottom:10px

}

h3 {
    font-size : 2em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 1em;
    margin-bottom:10px

}

p {
    font-size : 1.2em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

a {
    color : var(--main-color-blue-dark);
    text-decoration: none;
    &:hover  {
        color : var(--main-color-blue-light);
    }
}

/* Footer */

.footer a {
    color : var(--main-color-white);
    &:hover {
        color : var(--main-color-blue-light);
    }
}

