/** Variables CSS **/

/* colors */
:root {
    --main-color-blue-dark : #132C33; 
    --main-color-blue-med : #126E82; 
    --main-color-blue-light : #51C4D3;
    --main-color-white : #ffffff;
    --main-color-grey : #D8E3E7;

    
    }

/* couleur categories */
$yellow-color : #FFD700;
$brown-color:	#220B38;
$green-color: #9ACD32;
$blue-color : #36D7B7;
$grey-color : #D3D3D3;