/** Variables CSS **/

/* couleurs */
:root {
    --main-color-blue-dark : #132C33; 
    --main-color-blue-med : #126E82; 
    --main-color-blue-light : #82c1cf;
    --main-color-white : #ffffff;
    --main-color-grey : #D8E3E7;
    }
    