/*-------------------------------------------------------------------------------------*/
/*  RESET															   
/*-------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! */
:focus {
  outline: none;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------------------------------------*/
/*  Variable														   
/*-------------------------------------------------------------------------------------*/
/** Variables CSS **/
/* couleurs */
:root {
  --main-color-blue-dark: #132C33;
  --main-color-blue-med: #126E82;
  --main-color-blue-light: #82c1cf;
  --main-color-white: #ffffff;
}

/*-------------------------------------------------------------------------------------*/
/*  Extend													   
/*-------------------------------------------------------------------------------------*/
/** background **/
bg-blue-dark {
  background-color: var(--main-color-blue-dark);
}

/*-------------------------------------------------------------------------------------*/
/*  Layout														   
/*-------------------------------------------------------------------------------------*/
/** Header **/
.header {
  background-color: var(--main-color-blue-med);
}

.header_logo {
  width: 200px;
  height: auto;
}

.navbar .navbar-toggler {
  color: var(--main-color-white);
  border-color: rgba(0, 0, 0, 0);
}

.dropdown-toggle::after {
  display: none;
}

/** Global **/
.btn-primary {
  color: var(--main-color-white);
  background-color: var(--main-color-blue-light);
  border-color: var(--main-color-blue-light);
  border-radius: 50px;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--main-color-blue-dark);
  border-color: var(--main-color-blue-dark);
}

/*-------------------------------------------------------------------------------------*/
/*  GLOBAL															   
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*  TYPO															   
/*-------------------------------------------------------------------------------------*/
/** Global **/
html {
  font-family: 'Montserrat', sans-serif;
}

/** Typo **/
h1 {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 2.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

/*-------------------------------------------------------------------------------------*/
/*  FORMS														   
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/* RESPONSIVE														   
/*-------------------------------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */