                    {# {{dump(isInFavorite)}} #}   
                        {% if isInFavorite != null %}
                      <!-- remove event in favorite -->
                                <div class="d-flex justify-content-start text-center">  
                                    <button type="button" class="btn btn-warning  mb-3">
                                    <a href="{{ path("remove_favorite", {id: event.id}) }}">Retirer des favoris</a>
                                    </button>
                                </div>  
                        <!-- end remove favorite event-->
                        
                            {% else %}    
                    
                        <!-- add event in favorite -->
                                <div class="d-flex justify-content-start text-center">  
                                
                                    <button type="button" class="btn btn-success mb-3">
                                    <a href="{{ path("add_favorite", {id: event.id}) }}">Ajouter aux favoris</a>
                                    </button>
                                </div>  
                        <!-- end add favorite event-->
                        {% endif %} 