<div class="header">
    <div class="container-fluid">
        
        <div class="row p-3">
            <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <div class="header_logo">
                    <img src="{{ asset('assets/images/logo-culture-city-app.svg') }}" alt="logo culture city app" class="#">
                </div>
            </div>
            <div class="col-6 col-lg-6 d-flex justify-content-lg-center align-items-center mt-2 p-0">
                <nav class="navbar navbar-expand-lg navbar-dark">
                            
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Concert</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Spectacle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Expositions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Loisirs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Evènementiel</a>
                                </li>
                            </ul>
                        </div>

                </nav>      
            </div>

            <div class="col-6 col-lg-3 d-flex justify-content-end align-items-start align-items-lg-center mt-2 mt-lg-0">
                <!--button to add event-->
                <div class="me-3 mt-1 d-none d-md-block ">
                    <a class="btn btn-primary" href="#" role="button"> 
                        <i class="fa-solid fa-bullhorn"></i>
                        Annoncer un évènement
                    </a>
                </div>
                <!--profile with link back office-->
                <div class="dropdown  mt-3 mt-lg-0">
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-circle-user fa-2xl text-white"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-white dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                        <li>
                            <a class="dropdown-item active" href="#">Connexion</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Inscription</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"></hr>
                        <li>
                            <a class="dropdown-item" href="#">Voir mon profil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div> <!--end row-->
    </div>
</div><!--end header-->