<!doctype html>
<html lang="fr">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">  

        <!-- App custom CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <!-- favicon -->
        
        {# https://symfony.com/doc/current/templates.html#linking-to-css-javascript-and-image-assets #}
        {# the image lives at "public/images/logo.png" #}
        {# <img src="{{ asset('images/logo.png') }}" alt="Symfony!"/> #}
        <link rel="shortcut icon" href="{{ asset('assets/favicon.png') }}" type="image/x-icon">

        <title>
            {% block title %}
                Culture City App
            {% endblock %}
        </title>
    
</head>

<body>
    {% include '_header.html.twig' %}

    {% block body %}
       
    {% endblock %}

    {% include '_footer.html.twig' %}

    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>

</html>