{% extends 'base.html.twig' %}

{% block title %}Culture City App - accueil{% endblock %}

{% block body %}

    <div class="container">
        <section>
            <h1>À propos</h1>
            <div class="separator"></div>
            <p>
                Culture City App est une application web permettant à des acteurs culturels de facilement partager leur programmation événementielle. 
            </p>
            <p>
                Le visiteur est géolocalisé. Il peut naviguer sur l’application et filtrer dynamiquement les événements par date et par catégorie.
                L’utilisateur connecté peut en plus personnaliser sa page de profil, administrer ses événements favoris et commenter les événements.  
                L’utilisateur annonceur peut personnaliser totalement sa page de profil et renseigner les informations concernant sa structure. Il a la possibilité de créer et d’administrer ses événements qui apparaissent sur le site et sur sa page de profil.
                L'administrateur du site a la possibilité d’administrer l’intégralité des informations affichées sur le site.
            </p>
            <p class="text-center">
                <b>Cette application est le rendu de notre projet de fin de formation, elle a été réalisée en 4 semaines.</b>
            </p>
            <p class="text-center"><b>1 semaine de préparation et documentation</b></p>
            <p class="text-center"><b>2 semaines de développement et code</b></p>
            <p class="text-center"><b>1 semaine d’optimisation</b></p>
            <p class="text-center"><b>finalisée pas sa mise en production.</b></p>
        </section>

        <section class="mt-5">
            <h2> Equipe </h2>
            <div class="separator"></div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src="{{ asset('assets/images/simon-chabrier-2.jpg') }}" alt="Simon Chabrier" class="img-fluid border-radius mb-3">
                        <h3>Simon Chabrier</h3>
                        <h4>Product Owner & dev back </h4>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-3 text-center ">
                        <img src="{{ asset('assets/images/axel-colliaux.jpg') }}" alt="Axel Colliaux" class="img-fluid border-radius mb-3">
                        <h3>Axel Colliaux</h3>
                        <h4>Git Master & Lead Dev Back</h4>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 text-center ">
                        <img src="{{ asset('assets/images/mickael-bula.jpg') }}" alt="Mickael Bula" class="img-fluid border-radius mb-3">
                        <h3>Mickael Bula </h3>
                        <h4>Lead Dev Front</h4>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <img src="{{ asset('assets/images/benoit-boulangier.jpg') }}" alt="benoit boulangier" class="img-fluid border-radius mb-3">
                        <h3>Benoit Boulangier</h3>
                        <h4>Srumm Master & Dev Front</h4>
                    </div> 
                </div>
        </section>

    </div>
    
{% endblock %}
