{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}

{% block body %}

  <div class="example-wrapper">
      <h1>Accueil</h1>

      <ul>
      Cette page liste tous les événements.
    
      
      {% for event in events %}
          <li>{{ event.description }} </li>
          {% endfor %}
      </ul>
  </div>

{% endblock %}
