{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

<div>
    <h1> INTERFACE ADMINISTRATEUR </h1>
    <p> Bienvenue dans le BackOffice jeune barbu Hawaïen</p>
</div>

{% endblock %}
