{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La route demandée n'existe pas. Vérifiez le nom de l'url. <a href="{{ path('home') }}">Retourner à la page d'accueil</a>.
    </p>
{% endblock %}